#contact{
    background: $grey;
    padding: 2.5em 1em;


    #work + &{
        margin-top: 160px;
        @media (max-width: 950px) {
            margin-top: 120px;
        }
    
        @media (max-width: 750px) {
            margin-top: 120px;
        }
    
        @media (max-width: 550px) {
            margin-top: 80px;
        }
    }
}